In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'id': range(1, 101),
    'age': np.random.randint(18, 70, 100),
    'salary': np.random.normal(60000, 15000, 100),
    'city': np.random.choice(['NY', 'LA', 'Chicago', 'Houston'], 100),
    'department': np.random.choice(['IT', 'HR', 'Finance', 'Sales'], 100),
    'performance': np.random.uniform(1, 5, 100),
    'join_date': pd.date_range('2020-01-01', periods=100, freq='15D')
})

In [ ]:
""" I. Data Loading & Inspection (4 problems) """
# 1,"Save df to CSV, reload it, and print head(), info(), describe()."
df.to_csv('test_data.csv')
loaded_df=pd.read_csv('test_data.csv')
# print(f"[#1]\n{loaded_df.head()}\n\n{loaded_df.info()}\n\n{loaded_df.describe()}")

# 2,Create a DataFrame from a list of dicts with 5 rows. Inspect dtypes and shape.
data=[
    {'Name': 'Alice', 'Age': 25, 'City': 'New York', 'Salary': 50000},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles', 'Salary': 60000},
    {'Name': 'Charlie', 'Age': 28, 'City': 'Chicago', 'Salary': 55000},
    {'Name': 'Diana', 'Age': 35, 'City': 'Houston', 'Salary': 65000},
    {'Name': 'Ethan', 'Age': 32, 'City': 'Phoenix', 'Salary': 62000}
]
new_df=pd.DataFrame(data)
# print(f"[#2]\nData Type/s:\n{new_df.dtypes}\nShape: {new_df.shape}")

# 3,"Load only columns ['age', 'salary', 'city'] from the CSV."
loaded_df=pd.read_csv('test_data.csv', usecols=['age', 'salary', 'city'])
# print(f"[#3]\n{loaded_df}")

# 4,"Check memory usage of the DataFrame. Optimize dtypes (e.g., category for city)."
loaded_df['city'] = loaded_df['city'].astype('category')
# print(f"[#4]\n{loaded_df.memory_usage()}")

[#4]
Index     128
age       800
salary    800
city      304
dtype: int64

In [ ]:
""" II. Selection & Filtering (5 problems) """
# 1,Use .loc to select rows where salary > 70000 and city == 'NY'.
selection=df.loc[(df['salary'] > 70000) & (df['city'] == 'NY')]
# print(f"[#1]\n{df}\nselection:\n{selection}")

# 2,Use .iloc to get rows 10–20 and columns 2–5.
selection=df.iloc[10:20,2:5]
# print(f"[#2]\nselection:\n{selection}")

# 3,Filter employees in IT or Finance with performance > 4.0.
selection=df.loc[(df['department'].isin(['IT', 'Finance'])) & (df['performance'] > 4.0)]
# print(f"[#3]\nselection:\n{selection}")

# 4,Select all columns except id and join_date for ages between 30 and 50.
cols_to_keep=[c for c in df.columns if c not in ['id', 'join_date']]
mask=(df['age'] >= 30) & (df['age'] <= 50)
selection=df.loc[mask, cols_to_keep]
# print(f"[#4]\nselection:\n{selection}")


# 5,"Use query(): salary > 65000 and department in ['IT', 'Finance']."
selection=df.query("salary > 65000 and department in ['IT', 'Finance']")
print(f"[#5]\nselection:\n{selection}")

[#4]
selection:
    age        salary     city department  performance
0    36  58139.986989  Houston         HR     3.028202
1    41  59810.718013       NY      Sales     3.371576
6    33  54502.535247       NY         HR     1.318288
7    31  74853.753970       NY         IT     3.367270
9    34  37191.439478       NY         HR     3.172051
13   31  47173.579770       LA      Sales     4.345636
14   45  51902.476831  Houston    Finance     3.623609
19   35  68326.114048  Houston      Sales     3.874336
22   38  60596.329916  Houston      Sales     3.169746
23   35  86816.145322       LA      Sales     3.499622
24   48  80166.150408  Chicago      Sales     3.205237
25   41  76633.660596  Houston         HR     1.256471
29   45  74414.104317  Houston         HR     2.763939
37   38  70404.195376  Houston      Sales     1.423863
40   41  77748.792385  Chicago      Sales     3.381707
45   31  69976.638957       LA    Finance     2.532238
51   39  39552.933817  Houston         IT     3.835368
55   44  69490.527189       NY         IT     4.111828
58   42  51445.223753       LA      Sales     2.873416
60   49  47210.381586  Houston    Finance     1.031857
63   36  61548.511814  Houston         HR     4.722124
64   38  80518.458052  Chicago    Finance     1.487109
65   40  50065.135637       NY      Sales     4.309873
66   35  49421.596302       LA    Finance     1.052332
68   50  64436.547973       LA    Finance     4.815185
78   45  68541.519543       NY    Finance     2.373342
83   48  86831.452677       LA         HR     1.218479
84   34  51574.773545       NY      Sales     4.918333
85   38  66257.581466  Chicago         IT     1.656297
87   41  47755.842021       LA    Finance     1.226926
88   35  50061.744043  Chicago         HR     4.966657
94   50  75231.351348  Chicago    Finance     1.251799
96   41  71438.958834  Houston      Sales     2.115176
97   35  56472.462844       LA    Finance     4.068281
98   39  31672.280620       LA         HR     4.721308

In [ ]:
""" III. Handling Missing Values & Cleaning (5 problems) """
# 1,"Randomly insert 10 NaNs in salary and performance. Fill salary with median, performance with mean."


# 2,Drop rows where city is missing (simulate). Then drop columns with >50% missing.


# 3,Detect and remove duplicate rows based on id.


# 4,"Replace negative salaries (if any) with NaN, then forward-fill."


# 5,Use interpolate() to fill missing performance scores linearly.

In [ ]:
""" IV. Grouping & Aggregation (5 problems) """
# 1,"Group by city → mean, min, max of salary."


# 2,Group by department → count employees and average performance.


# 3,Group by city and department → median salary.


# 4,Add a column salary_vs_city_mean = salary - city mean salary.


# 5,Find top 2 highest-paid employees per department using groupby + nlargest.

In [ ]:
""" V. Merging, Joining, Concatenating (4 problems) """
# 1,"Create bonus_df = pd.DataFrame({'id': range(1,101), 'bonus': np.random.uniform(1000, 5000, 100)}) → merge with df on id."


# 2,"Perform left, right, inner, outer joins on id with a subset (ids 1–50 only)."


# 3,"Concatenate two DataFrames vertically: df1 (first 50 rows), df2 (last 50), add source column."


# 4,Join df.set_index('id') with bonus_df.set_index('id') using join().

In [ ]:
""" VI. Apply, Map, Transform (5 problems) """
# 1,Use apply(lambda x: 'High' if x > 65000 else 'Low') on salary.


# 2,"Use map() to encode city: {'NY':0, 'LA':1, 'Chicago':2, 'Houston':3}."


# 3,Use transform to compute z-score of salary within each department.


# 4,"Create age_group: <30 → 'Young', 30–50 → 'Mid', >50 → 'Senior' using np.select."


# 5,Apply custom function: def tax(salary): return salary * 0.2 if salary > 80000 else salary * 0.1 → new column tax.

In [ ]:
""" VII. Pivot Tables & Reshaping (4 problems) """
# 1,"Pivot: index=city, columns=department, values=salary (mean)."


# 2,Create pivot table: average performance by city and age_group.


# 3,Use melt() to unpivot salary and bonus into long format.


# 4,Use crosstab() to count employees by city and department.

In [ ]:
""" VIII. Time Series Handling (4 problems) """
# 1,Set join_date as index. Resample to monthly: mean salary.


# 2,"Extract year, month, weekday from join_date. Add as columns."


# 3,Compute 3-month rolling average of performance.


# 4,Find employees who joined in 2021 and have salary > 70000.

In [ ]:
""" IX. ML Preprocessing Pipeline (3 problems) """
# 1,"One-hot encode city and department, drop originals, scale salary and age using MinMax."


# 2,"Split data: 80% train, 20% test, stratified by department."


# 3,Create pipeline: impute → encode → scale → (simulate with ColumnTransformer).