In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'id': range(1, 101),
    'age': np.random.randint(18, 70, 100),
    'salary': np.random.normal(60000, 15000, 100),
    'city': np.random.choice(['NY', 'LA', 'Chicago', 'Houston'], 100),
    'department': np.random.choice(['IT', 'HR', 'Finance', 'Sales'], 100),
    'performance': np.random.uniform(1, 5, 100),
    'join_date': pd.date_range('2020-01-01', periods=100, freq='15D')
})

In [ ]:
""" I. Data Loading & Inspection (4 problems) """
# 1,"Save df to CSV, reload it, and print head(), info(), describe()."


# 2,Create a DataFrame from a list of dicts with 5 rows. Inspect dtypes and shape.


# 3,"Load only columns ['age', 'salary', 'city'] from the CSV."


# 4,"Check memory usage of the DataFrame. Optimize dtypes (e.g., category for city)."

In [ ]:
""" II. Selection & Filtering (5 problems) """
# 1,Use .loc to select rows where salary > 70000 and city == 'NY'.


# 2,Use .iloc to get rows 10–20 and columns 2–5.


# 3,Filter employees in IT or Finance with performance > 4.0.


# 4,Select all columns except id and join_date for ages between 30 and 50.


# 5,"Use query(): salary > 65000 and department in ['IT', 'Finance']."

In [ ]:
""" III. Handling Missing Values & Cleaning (5 problems) """
# 1,"Randomly insert 10 NaNs in salary and performance. Fill salary with median, performance with mean."


# 2,Drop rows where city is missing (simulate). Then drop columns with >50% missing.


# 3,Detect and remove duplicate rows based on id.


# 4,"Replace negative salaries (if any) with NaN, then forward-fill."


# 5,Use interpolate() to fill missing performance scores linearly.

In [ ]:
""" IV. Grouping & Aggregation (5 problems) """
# 1,"Group by city → mean, min, max of salary."


# 2,Group by department → count employees and average performance.


# 3,Group by city and department → median salary.


# 4,Add a column salary_vs_city_mean = salary - city mean salary.


# 5,Find top 2 highest-paid employees per department using groupby + nlargest.

In [ ]:
""" V. Merging, Joining, Concatenating (4 problems) """
# 1,"Create bonus_df = pd.DataFrame({'id': range(1,101), 'bonus': np.random.uniform(1000, 5000, 100)}) → merge with df on id."


# 2,"Perform left, right, inner, outer joins on id with a subset (ids 1–50 only)."


# 3,"Concatenate two DataFrames vertically: df1 (first 50 rows), df2 (last 50), add source column."


# 4,Join df.set_index('id') with bonus_df.set_index('id') using join().

In [ ]:
""" VI. Apply, Map, Transform (5 problems) """
# 1,Use apply(lambda x: 'High' if x > 65000 else 'Low') on salary.


# 2,"Use map() to encode city: {'NY':0, 'LA':1, 'Chicago':2, 'Houston':3}."


# 3,Use transform to compute z-score of salary within each department.


# 4,"Create age_group: <30 → 'Young', 30–50 → 'Mid', >50 → 'Senior' using np.select."


# 5,Apply custom function: def tax(salary): return salary * 0.2 if salary > 80000 else salary * 0.1 → new column tax.

In [ ]:
""" VII. Pivot Tables & Reshaping (4 problems) """
# 1,"Pivot: index=city, columns=department, values=salary (mean)."


# 2,Create pivot table: average performance by city and age_group.


# 3,Use melt() to unpivot salary and bonus into long format.


# 4,Use crosstab() to count employees by city and department.

In [ ]:
""" VIII. Time Series Handling (4 problems) """
# 1,Set join_date as index. Resample to monthly: mean salary.


# 2,"Extract year, month, weekday from join_date. Add as columns."


# 3,Compute 3-month rolling average of performance.


# 4,Find employees who joined in 2021 and have salary > 70000.

In [ ]:
""" IX. ML Preprocessing Pipeline (3 problems) """
# 1,"One-hot encode city and department, drop originals, scale salary and age using MinMax."


# 2,"Split data: 80% train, 20% test, stratified by department."


# 3,Create pipeline: impute → encode → scale → (simulate with ColumnTransformer).